<div class="maindiv bg-secondary w-100">
<div class=" display-flex  w-100">
    <div class="member w-100">
        <h4>Team members:</h4>
        <ul>
            <li>Sonali Sinha</li>
            <li>Prashant Tiwari</li>
            <li>Preksha JW</li>
            <li>Shalini N</li>
        </ul>

    </div>
    <div class="guide w-100">
        <h4>GUIDE</h4>
        <ul>
            <li>Kushal Kumar B.N</li>
        </ul>
    </div>
    

</div>
<div class="created w-100">
    <h3>Created By BATCH 10</h3>
</div>
</div>
