<div class="display-flex box-sizing-border-box p-3  text-white w-100 maindiv ">
    <div class="p-2 w-25  card1 transition-1">
        <div class="image2">
            <img src="assets/image/sowing1.jpg" class="image1">
        </div>
        <div class="container1 box-sizing-border-box">
            <h2 class="caption2"> SOWING </h2>
        </div>
    </div>
    <div class="p-2 w-25  card1 transition-1  box-sizing-border-box">
        <div class="image2  box-sizing-border-box">
            <img src="assets/image/harvesting1.jpg" class="image3">
        </div>
        <div class="container1 box-sizing-border-box">
            <h2 class="caption2"> HARVESTING </h2>
        </div>
    </div>
    <div class="p-2 w-25 transition-1   card1">
        <div class="image2">
            <img src="assets/image/storage1.jpg" class="image4">
        </div>
        <div class="container1 box-sizing-border-box">
            <h2 class="caption2"> STORAGE </h2>
        </div>
    </div>
  </div>
  
