.maindiv{
height:600px;
background-color: honeydew;
}
.card1 ,.card2,.card3{
    margin:3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image1,.image4,.image2{
    height:80%;
    width:100%;
    
}
.image3{
    height:95%;
    width:100%; 
}


.card1:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }



.container1{
    
    height:10%;
}
.caption2{
    text-shadow: 2px 2px grey;
    color: black;
    text-align: center;
}
