<div class="video w-100">
    <div class="display-flex box-sizing-border-box  bg-default text-white w-100 video_outer_div">
        <div class="p-2  w-50 video1">
            <video controls id='video' loop='loop' autoplay='autoplay' muted='true'>
                <source src="assets/image/video.mp4"  type="video/mp4">
                <source src="assets/image/video.ogg" type="video/ogg">
              </video>   
        </div>
        <div class="p-2 bg-default w-50">
            <div class="caption p-3">
                <h1 class="caption1">Let's explore the world of Agriculture from the eyes of ML</h1>
            </div>
        </div>
        
      </div>
</div>